<!doctype html>
<html>

<head>
  <title> Drazic Construction </title>
  <link rel="stylesheet" type="text/css" media="all" href = "/global.css" />
  <link rel="stylesheet" type="text/css" media="all" href = "/animate.css" />
  <meta name="viewport" content="initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  
  <meta charset="UTF-8">
</head>
<!-- start home  wrapper has top margin-->
<div class ="home">

  <header id="header">
    <div id="contact_info">michael@drazicconstruction.com 402.590.6365</div>
  </header>
  <body>
    <div id="hero_container">
      <div id="hero_background">
        <div id="wrapper__logo">
          <object id ="logo" class="logo" type="image/svg+xml" data="logo.svg">
          </object>
        <h1 class="animated fadeIn">
         Making Omaha Beautiful, One Project at a Time.
          </h2>
        </div>
        <div id="arrow" class="bounceInUp"></div>
        
      </div>
    </div>
  
    <div id="part2">
      <div id="icons_container" class="animated">
        
        <div id="icon_wrapper">
          <div id="hammer"></div>
          <p>
            Home Improvement
          Bathrooms, kitchens, patios, decks, driveways, pergolas and more. </p>
        </div> 
            
        <div id="icon_wrapper">
          <div id="hammer"></div>
         <p> 
           Additions
           <br>Wanting to make your home a little more comfortable with a custom addition? We can do that too.</br>
         </p>
        </div>
      
        <div id="icon_wrapper">
          <div id="hammer"></div>
          <p>Remodels
          <br>Ready to turn your house into your dream home? Let's make it the house you've always wanted.
        </br>
        </p>
        </div>
        
        <div id="icon_wrapper">
          <div id="hammer"></div>
          <p>New Homes</p>
        </div>
     
        
        <div style="clear:both"></div>
      </div>
     
    </div>

    
    <!-- pop up box -->
    <div id="box">
    </div>
    <!-- pop up box -->
    
  
    
    
    <!-- end home home wrapper -->
  </div>
  <script style="text/javascript" src="/global.js">
  </script>
</body>
</html>