<!doctype html>
<html>

<head>
  <title> Drazic Construction </title>
  <link rel="stylesheet" type="text/css" media="all" href = "/global.css" />
  <link rel="stylesheet" type="text/css" media="all" href = "/animate.css" />
  <meta name="viewport" content="initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  
  <meta charset="UTF-8">
</head>
<!-- start home  wrapper has top margin-->
<div class ="home">

  <header id="header">
    <div id="contact_info">michael@drazicconstruction.com 402.590.6365</div>
  </header>
  <body>
    <div id="hero_container">
      <div id="hero_background">
        <div id="wrapper__logo">
          <object id ="logo" class="logo" type="image/svg+xml" data="logo.svg">
          </object>
          <h1 class="animated fadeIn">
            Making Omaha Beautiful, One Project at a Time.
          </h2>
        </div>
        <div id="arrow" class="bounceInUp"></div>
        
      </div>
    </div>
    <!-- part 2 -->  
    
    
    
    <div id="part2">
      
      <!-- icon1 -->
      <div id="icons_container" class="animated">
        
        <div id="icon_wrapper1">
          <div id="hammer"></div>
        </div> 
       
        <div id="home_improvement_text">  
          <p>
            Home Improvement
            <br>
            Bathrooms, kitchens, patios, decks, driveways, pergolas and more. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </br> 
        </p>
      </div>
      <div style="clear:both"></div>
    </div>
       
   <!-- icon2 -->
            
      <div id="icons_container2" class="animated">
        
        <div id="icon_wrapper2">
          <div id="rock" class="animated"></div>
        </div> 
       
        <div id="remodel_text">  
          <h3>
            Remodels
            <br>
            Bathrooms, kitchens, patios, decks, driveways, pergolas and more. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </br> 
        </h3>
      </div>
      <div style="clear:both"></div>
    </div>
    
    <!-- icon3 -->
      <div id="icons_container3" class="animated">
        
        <div id="icon_wrapper3">
          <div id="paper" class="animated"></div>
        </div> 
       
        <div id="addition_text">  
          <p>
            Additions
            <br>
            Bathrooms, kitchens, patios, decks, driveways, pergolas and more. 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </br> 
        </p>
      </div>
      <div style="clear:both"></div>
    </div>
   
     
</div>

    
<!-- pop up box -->
<div id="box" class="animated bounce">Hello!
</div>
<!-- pop up box -->
    
  
    
    
<!-- end home home wrapper -->
</div>
<script style="text/javascript" src="/global.js">
</script>
</body>
</html>