<!doctype html>
<html>

<head>
  <link rel="stylesheet" type="text/css" media="all" href = "/global.css" />
  <meta name="viewport" content="initial-scale=1">
  
  <meta charset="UTF-8">
</head>
<!-- start home  wrapper has top margin-->
<div class ="home">

  <header id="header">
  </header>
  <body>
    <div id="hero_container">
      <div id="hero_background">
        <div id="wrapper__logo">
          <object id ="logo" class="logo" type="image/svg+xml" data="logo.svg">
          </object>
        </div>
        
      </div>
    </div>
  
    <div id="part2">
      <div id="icons_container">
        
          <div id="hammer"></div>
          <div id="hammer"></div>
        
        
          <div id="hammer"></div>
          <div id="hammer"></div>
        
         <div style="clear:both"></div>
      </div>
     
    </div>

    
    <!-- pop up box -->
    <div id="box">
    </div>
    <!-- pop up box -->
    
  
    
    
    <!-- end home home wrapper -->
  </div>
  <script style="text/javascript" src="/global.js">
  </script>
</body>
</html>