
<!-- start home  wrapper has top margin-->
<a name="home"></a>
<body>
  <div id="hero_container">
    <div id="hero_background">
      <div id="wrapper__logo">
        <object id ="logo" class="logo" type="image/svg+xml" data="logo.svg">
        </object>
      </div>
        <div class="low_opacity">
        <h1>
          MAKING OMAHA BEAUTIFUL, ONE PROJECT AT A TIME
          <!-- Making Omaha Beautiful, One Project at a Time -->
        </h1>
      </div>
      </div>
      
      <a name="services"></a>
    </div>
  </div>
  <!-- part 2 -->  
    
    
  <a name="services"></a>
  <div id="part2">
    <div id="arrow" class="bounce"></div>
      
      
    <!-- icon1 -->
    <div id="icons_container">
        
      <div id="icon_wrapper1">
        <object id ="hammer" type="image/svg+xml" data="hammer.svg">
        </object>
      </div> 
       
      <div id="home_improvement_text">  
        <p>
          Home Improvement
          <br>
          Bathrooms, kitchens, patios, decks, driveways, pergolas and more. 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </br> 
      </p>
    </div>
    <div style="clear:both"></div>
  </div>
       
  <!-- icon2 -->
            
  <div id="icons_container2" class="animated">
        
    <div id="icon_wrapper2">
      <object id ="wrench" type="image/svg+xml" data="wrench.svg">
      </object>
    </div> 
       
    <div id="remodel_text">  
      <h3>
        Remodels
        <br>
        Bathrooms, kitchens, patios, decks, driveways, pergolas and more. 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </br> 
    </h3>
  </div>
  <div style="clear:both"></div>
</div>
    
<!-- icon3 -->
<div id="icons_container3" class="animated">
        
  <div id="icon_wrapper3">
    <object id ="house" type="image/svg+xml" data="house.svg">
    </object>
  </div>
       
  <div id="addition_text">  
    <p>
      Additions
      <br>
      Bathrooms, kitchens, patios, decks, driveways, pergolas and more. 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </br> 
  </p>
</div>
<div style="clear:both"></div>
</div>
   
     
</div>

    
<!-- pop up box -->
<div id="box" class="animated bounce">Hello!
</div>
<!-- pop up box -->
<!-- contact form -->
<div id="part3">
  
  
<a name="contact"></a>
<div id="form">
<form action="/contacts" method="post">
  <p> Name: <input type="name" class = "form" placeholder="your name" name="name" value="<%= params["name"] %>" required></p>
  <p> email: <input type="email" class = "form" placeholder="your email" name="email" value="<%=params["email"]%>" required></p>
  <p> message: <input type="text_area" class = "form message" placeholder="How can we make your home better?" name="message" value="<%=params["message"]%>"required> </p>
  <input type="hidden" name="date" value="<%=Time.now%>" </p>
  <p> <input type="submit" value="submit" class="submit"></p>
</form>
</div>


  
    
    
<!-- end home home wrapper -->
</div>
