<!doctype html>
<!-- Microdata markup added by Google Structured Data Markup Helper. -->
<html>

<head>
  <title> Drazic Construction | Omaha Home Improvement</title>
  <meta name="description" content="Drazic Construction Services serves the Omaha area with Home Improvement, Remodels, Additions, and General Contracting Services.">
  <link rel="stylesheet" type="text/css" media="all" href = "/global.css?4wfgfer" />
  <link rel="stylesheet" type="text/css" media="all" href = "/animate.css?wfgf45" />
  <meta name="viewport" content="initial-scale=1">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="google-site-verification" content="lOVhCQSwvpfpYE1EgDws_8EF8PhK07bDzReAY9YVXhk" />
  <meta name="google-site-verification" content="lOVhCQSwvpfpYE1EgDws_8EF8PhK07bDzReAY9YVXhk" />
  
  <link href='https://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
   <link href="favicon.ico" rel="shortcut icon">
</head>
   
<div id="home"></div>

<header id="header" class="animated fadeIn delay4">
  <div id="nav"> <ul>
     <a class="scroll" data-speed="2000" href="#home2"> <li>home</li></a>
   <a  href="/services"><li>services</li></a>
    <a class="scroll" data-speed="2000" href="#contact2"> <li>contact</li></a>
    <a  href="/work"> <li>our work</li></a>
  </ul>
</div>
 
<img src="logo_header.svg" width="150px" class="header_logo"> <img src="hamburger.svg" id="hamburger" class="hamburger"> <div class="phone"><img src="phone.svg" width="15px"class="email3" ><a href="tel:+14025906365">402.590.6365 </a></div>
  <div id="menu">
   <a href="#home2"> home</a>
    <br>
    <a href="/services">services</a>
    <br>
    <a href="#contact"> contact</a>
    <br>
    <a href="/work"> our work</a>
  </div>
<div id="contact_info"> <div itemscope itemtype="http://schema.org/LocalBusiness" class="top"><a href="mailto:michael@drazicconstruction.com?Subject=Hello%20Drazic" target="_top"><img src="email.svg" width="20px" class="email"/></a><div class="email_text"><a href="mailto:michael@drazicconstruction.com?Subject=Hello%20Drazic" target="_top">
<span itemprop="email">michael@drazicconstruction.com</span></a>  </div><img src="phone.svg" width="20px" class="email"/><div class="email_text">
<span itemprop="telephone">402.590.6365</span> 
<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="addressLocality">omaha, nebraska</span></span></div></div></div>

</header>


<div class ="home">
  <div class="primary">
    
 
  
<body>


    <%=yield%>
  </div>
 

  <script style="text/javascript" src="/global.js">
  </script>
  <script style="text/javascript" src="/scroll.js">
  </script>

  <footer>
    <div id="contact2"></div>
    Drazic Construction Services serves the Omaha area with Home Improvement, Remodels, Additions, and General Contracting Services
   <br> <a href="http://www.kickpunchcreative.com" class="kpc"> website imagination and creation by kick punch creative </a>
  </footer>
   
</div>
</body>
</html>