<!doctype html>
<html>

<head>
  <title> Drazic Construction </title>
  <link rel="stylesheet" type="text/css" media="all" href = "/global.css" />
  <link rel="stylesheet" type="text/css" media="all" href = "/animate.css" />
  <meta name="viewport" content="initial-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  
  <meta charset="UTF-8">
</head>
  <header id="header">
    <div id="nav"> <ul>
      <a href="#home"> <li>home</li></a>
      <a href="#services"><li>services</li></a>
      <a href="#contact"> <li>contact</li></a>
      <a href="#services"> <li>our work</li></a>
    </ul>
  </div>
  <img src="logo_header.svg" width="150px" class="header_logo"> 
  <div id="contact_info">michael@drazicconstruction.com 402.590.6365</div>
</header>
<div class ="home">
<body>
  <div class="primary">
    <%=yield%>
  </div>

  <script style="text/javascript" src="/global.js">
  </script>
  <footer>
    <a href="http://www.kickpunchcreative.com" class="kpc">website imagination and creation by kick punch creative </a>
  </footer>
</div>
</body>
</html>