<head>
  <title> Drazic Construction | Services </title>
  <meta name="description" content="Drazic Construction Services serves the Omaha area with Home Improvement, Remodels, Additions, and General Contracting Services.">
</head>
<br>
<br>
<br>
<br>
<div id="services-page">
<div id="home-builds">
<div id="wrap">
  <h1 class="this orange2">Custom Home Builds</h1>
  <h3>
    Not finding you dream home? Let's build it! A home is usually the single largest investment that a person makes, let's make sure it's exactly what you want. We're Omaha's favorite custom home builders.
       
  </h3>
</div>

<div id="gallery">


  <img src="work/services1.jpg" alt ="omaha custom additions construction" id="services_image">
  
  <!-- <div id="row2"><img src="d4.jpg" alt ="omaha deck drazic construction" class="work_image"></div>
  <div id="row2"><img src="d5.jpg" alt ="omaha deck drazic construction" class="work_image"></div> -->
  
</div>
</div>

<div id="home-improvement">
<div id="wrap">
  <h1 class="this orange2">Home Improvement</h1>
  <h3>
    Bathrooms, kitchens, basements, decks, patios, pergolas, driveways and tons more. Just tell us where to start! We do it all.
       
  </h3>
</div>
<div id="gallery">


   <img src="work/services2.jpg" alt ="omaha custom additions construction" id="services_image">
  
</div>
</div>

<div id="remodels">
<div id="wrap">
  <h1 class="this orange2">Remodels & Additions</h1>
  <h3>
    Is your house too small or lack vital amenities like a master bathroom, family room or spacious kitchen? Let's give your home a facelift.
       
  </h3>
</div>

<div id="gallery">


   <img src="work/services3.jpg" alt ="omaha custom additions construction" id="services_image">
</div>
</div>
<div id="general-contracting">
<div id="wrap">
  <h1 class="this orange2">General Contracting</h1>
  <h3>
     We have experience in general contracting as well. Give us a call!
       
  </h3>
</div>


</div>
  
<div style="clear:both"></div>
  
</div>
<br>

<!-- pop up box -->
<a href ="/home#contact"><div id="box2" class=" delay animated bounceIn">
contact us!
</div>
</a>
</div>
<!-- pop up box -->