<div id="gallery">
  <h1> Our Work </h1>
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div style="clear:both"></div>
</div>