<div id="gallery">
  <p class="center"> our work </p>
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image1.png" class="work_image"></div>
  <div id="row"><img src="image2.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  <div id="row"><img src="image3.png" class="work_image"></div>
  
  <div style="clear:both"></div>
  
</div>

<!-- pop up box -->
<a href ="/home#contact"><div id="box2" class=" delay animated bounceIn">
  contact us!
</div>
</a>
<!-- pop up box -->