
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

h1.white {
  color:#A84C24;
}

/*header*/
#header {
  display: block;
  visibility:visible;
  padding:1%;
  background-color: #272626;
  /*opacity: 0.9;
  filter: alpha(opacity=90);*/
  height:55px;
  width: 100%;
  z-index:8000;
  position: fixed;
  top:0;
}

#header2 {
  display: block;
  visibility:visible;
  padding:1%;
  background-color: #E6E6E6;
  /*opacity: 0.9;
  filter: alpha(opacity=90);*/
  height:55px;
  width: 100%;
  z-index:1000;
  position: fixed;
  top:0;
}

.center {
  position:relative;
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
}
ul {
  
}
li {
  display:inline;
  margin-right:5%;
 
}
#nav {
  
  position:absolute;
  top:0px;
  left:200px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size:100%;
  font-weight:normal;
  width:80%;
  
}

/* unvisited link */
a:link {
  color: #ADAAAA;
  text-decoration: none;
}

a.black {
  color: #272626;
  text-decoration: none;
}

.akpc {
  float:right;
  color: black;
  text-decoration: none;
}

a.kpc {
  
  text-decoration: none;
}

/* visited link */

a:visited {
  color: #ADAAAA;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #A74C24;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

#contact_info {
  position:absolute;
  top:15px;
  right:5px;
  color: #ADAAAA;
  font-family: 'Raleway', sans-serif;
  font-size:100%;
  font-weight:normal;
  width:560px;
  
  /*  border:1px solid;*/
}

#contact_info2 {
  position:absolute;
  top:100px;
  
  padding:30px;
  color: #ADAAAA;
  font-family: 'Raleway', sans-serif;
  font-size:100%;
  font-weight:normal;
  width:400px;
  margin-left: auto;
  margin-right: auto;
  
  border:1px solid;
}
.header_logo {
  position:absolute;
  top:-10px;
  left:10px;
}

/*hero*/
/*main_logo*/

#hero_container {
  position:relative;
  width:100%;
      
} 

#menu {
  display:none;
}

#hero_background {
  position: relative;
  
  height: 800px;
  background: url('hero2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  overflow:hidden;
  /*  border: 1px solid;*/
}
#wrapper__logo {
  position: relative;
  width: 100%;
  top:120px;
  margin-left: auto;
  margin-right: auto;
  /*  border: 1px solid;*/

}

.backtotop {
  position:fixed;
  display:none;
  bottom:30px;
  right:5px;
  display:block;
  background-color:black;
  opacity:.1;
  height:60px;
  width:60px;
  padding:13px 5px 0 5px;
}

.arrow {
  width:100%;
}


.logo {
  width: 100%;
  max-width:900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#arrow {
  position: relative;
  display:block;
  z-index:1000;
  content: url('arrow.svg');
  width:140px;
  margin-left: auto;
  margin-right: auto;
  top:200px;
  z-index:500;
  visibility:visible;
  -webkit-animation-duration:3s;
}


.delay {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 0;
}



/*part 2*/

#part2 {
  position: relative;
  display:block;
  margin-top:30px;
  width:100%;
  max-width:1280px;
  margin-left: auto;
  margin-right: auto;
  /*  padding-top:3%;*/
}

/*part 2 - home*/


#icon_wrapper {
  position: relative;
  display:block;
  width:22%;
  float:left;
  margin-left:1%;
  margin-top:2%;
  margin-bottom:2%;
  
  /*  border: 1px solid;*/
}



#parent_container {
  position: relative;
  margin-top:3%;
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px dashed;
  padding:2%;
  
}
#parent_container.no-border {
  border:none;
}

.orange {
  background-color:#A84C24;
  width:100%;
  padding:1%;
}



#wrench {
  position: relative;
  display:block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  /*  border: 1px solid;*/
}

#contract {
  position: relative;
  display:block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  /*  border: 1px solid;*/
}

#house {
  position: relative;
  display:block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  /*  border: 1px solid;*/
}

#hammer {
  position: relative;
  display:block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
 
  /*  border: 1px solid;*/
}

#remodel_text {
  position: relative;
  display:block;
  width:50%;
  /*border: 1px solid;*/
  float:left;
  text-align:left;
  margin-top:20px;
}

#remodel_text2 {
  position: relative;
  display:block;
  width:50%;
  /*border: 1px solid;*/
  float:right;
  text-align:left;
  margin-top:20px;

}

#services {
  width:100%;
  /*  border:1px solid;*/
  margin-left:39px;
  
  padding-top:1%;
  padding-bottom:1%;
}
#wrap {
  width:100%;
/*  padding-top:30px;*/
/*margin-bottom:30px;*/
  
  
}

#services-page {
  margin-right:5%;
  margin-left:5%;
}

.overlay {
  position:relative;
  display:block;
  background-color:black;
  width:500px;
  height:100%;
}

h3 {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:20px;
 
}


h4 {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:22px;
  margin-top:10px;
  
}

h1.this {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:35px;
  color:white;
  
  
}
h1.this.orange2 {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-size:35px;
  color:#A84C24;
  
  
}

h5 {
  text-align:right;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:20px;
 
}


h6 {
  text-align:right;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:35px;
  margin-bottom:-5%;
  margin-top:-.15%;
  
}


/*part 2 - remodel*/






/*part 2 - addition*/


/*part 3*/
#part3 {
  position:relative;
  width:100%;
  background-color:#272626;
  
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  color:white;
  font-size: 35px;
  padding:1.5%;
}

.form {
  width:100%;
  height:40px;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  color:gray;
  font-size: 17px;
  background-color:white;
  outline:0;
  border:none;
  float:right;
  /*  border-radius: 5px;*/
  padding:10px;
}

.message {
  height:100px;
  
  
}

#form {
  padding:1%;
  position:relative;
  display:block;
  color:white;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  visibility:visible;
  /*  border:1px solid;*/
}

.low_opacity {
  position:relative;
  display:block;
  top:120px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}




h1 {
  position:relative;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-size: 250%;
  /*  text-shadow: 2px 2px black;*/
  color:black;
  width:740px;
  margin-left: auto;
  margin-right: auto;
  padding:3px;
  /*  background-color:#272626;*/
  width:100%;
  text-align:center;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
}

h2 {
  position:relative;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-size: 200%;
  text-align:left;
}

#icon_wrapper:hover {
  
  transform-origin:center;
  -webkit-transform-origin:center;
  -moz-transform-origin:center;
  fill:orange;
  -webkit-animation-duration:1s;-moz-animation-duration:0;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:none;animation-fill-mode:both;
  -webkit-animation-name:pulse;animation-name:pulse;-moz-animation-name:none;
}




#box:hover {
  -webkit-animation-duration:1s;-moz-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;animation-fill-mode:both;
  -webkit-animation-name:pulse;animation-name:pulse;
  /* -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 131.243px 125.839px;
  transform-origin: 50% 50%;
  transition: transform 2s ease-out;*/
}

/*#box2:hover {
-webkit-animation-duration:1s;-moz-animation-duration:none;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:none;animation-fill-mode:both;
-webkit-animation-name:pulse;animation-name:pulse;
/* -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 131.243px 125.839px;
transform-origin: 50% 50%;
transition: transform 2s ease-out;*/
/*}*/*/

#part4 {
  position:relative;
  display:block;
  width:100%;
  height:400px;
  overflow:hidden;
  /*  border:1px solid;*/
  
}



#side2 {
 
  
}
  

#box {
  display: none;
  position:fixed;
  bottom:0;
  right:0;
  /*  height:50px;*/
  width:300px;
  background-color:#A84C24;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:30px;
  padding:5px;
  z-index:1000;
}

#box2 {
  display: block;
  position:fixed;
  bottom:0;
  right:5px;
  /*  height:50px;*/
  width:300px;
  background-color:#A84C24;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:normal;
  font-size:30px;
  padding:5px;
  z-index:1000;
 
}

.submit {
  /*  border-radius:10px;*/
  border:none;
  width:100px;
  /*  height:50px;*/
  background-color:#A84C24;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  padding:1%;
  margin-top:2%;
  -webkit-appearance: none;
}

.submit3 {
  /*  border-radius:10px;*/
  position:relative;
  display:block;
  border:none;
  width:300px;
  /*  height:50px;*/
  background-color:#A84C24;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  padding:1%;
  margin-top:2%;
  margin-bottom:2%;
  
  margin-right:auto;
  margin-left:auto;
  -webkit-appearance: none;
}

.submit3:hover {
  background-color:black;
}

.submit2 {
  /*  border-radius:10px;*/
  border:none;
  width:100px;
  /*  height:50px;*/
  background-color:#31BEC3;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  padding:1%;
}

.submit:hover {

  background-color:#7A341B;
}

.email{
  float:left;
 
  
}

.email2{
  float:left;
}

.email3{
  float:none;
  margin-right:13px;
  
 
}
.top {
  position:relative;
  /*  border: 1px solid red;*/
  
}

.email_text {
  font-family: 'Raleway', sans-serif;
  float:left;
  margin-left:5px;
  margin-right:5px;
  
}

.email_text2 {
  float:left;
  margin-left:5px;
  margin-right:5px;
  
}
.phone {
  display:none;
}
.list_contacts {
  position:relative;
  
  margin: 150px 0px 20px 50px;
  font-size:18px;
  font-family: 'Raleway', sans-serif;
}
/*main_logo*/

/*blades animation*/

.logopulse {
  
  -moz-animation-duration:1s;-moz-animation-fill-mode:both;
  -moz-animation-name:pulse;
}
.blades {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 200px 100px;
  -moz-transform:none;
  transform-origin: 50% 50%;
  transition: transform 2s ease-out;
}



@-webkit-keyframes rotate {
  0% {
    -webkit-transform:rotate(-360deg);
  }
  60% {
    -webkit-transform:rotate(20deg);
  }

}
@-moz-keyframes rotate {
  0% {
    -moz-transform:none;
  }
  60% {
    -moz-transform:none;
  }
}

}
@keyframes rotate {
0% {
  transform:rotate(-360deg);
}
60% {
  transform:rotate(20deg);
}
}

.grow {
-webkit-animation: rotate 5s ease-out backwards;
-moz-animation: rotate 5s ease-out backwards;
animation: rotate 5s ease-out backwards;
}
/*blades animation*/

/*hammer animation*/
.swing{-webkit-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing;}

@-webkit-keyframes pulse{0%{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
50%{-webkit-transform:scale3d(1.05, 1.05, 1.05);transform:scale3d(1.05, 1.05, 1.05);}
100%{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}
@keyframes pulse{0%{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
50%{-webkit-transform:scale3d(1.05, 1.05, 1.05);transform:scale3d(1.05, 1.05, 1.05);}
100%{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}


footer {
padding:1%;
background-color:lightgray;
color:white;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:15px;
}
a.kpc {

font-size:15px;
}

.dashboard {
  
margin-bottom:20px;
  
color:white;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:30px;
  
}

.logout {
position:absolute;
padding:2px;
top:75px;
right:25px;
background-color:lightgray;
border:none;
border-radius:5px;
width:100px;
height:35px;
z-index:500;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:30px;
color:gray;
}



.mike {
width:100%;
display:block;
position:relative;
height:800px;
background: url("/mike.jpg") no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position:50% 40%;
opacity: 0.95;
filter: alpha(opacity=95);
}



.meet_mike {
position:absolute;
top:120px;
left:100px;
width: 400px;
height:80px;
border: 2px solid white;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:20px;
color:white;
background:#252424;
}

.meet_mike:first-line {
  
font-size:40px;
color:white;
}

.create {
width:40%;
display:block;
position:relative;
margin-left:auto;
margin-right:auto;
padding-top:10%;
}

.work {
position:absolute;
display:block;
bottom:120px;
width:100%;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:240%;
color:white;
font-weight:100;
opacity:.5;

}

.work2 {
position:relative;
display:block;
padding:1%;
width:100%;
background-color:#252424;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:240%;
color:lightgray;


}

.work_button {
width:300px;
height:60px;
background:#272626;
border-radius:15px;
display:block;
position:relative;
/*  margin-top:100px;*/
/*  border: 1px solid red;*/
top:20px;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:240%;
color:white;
padding-top:.5%;
vertical-align:middle;
}

#gallery {
width:100%;

display:block;
position:relative;
/*  border: 1px solid red;*/
margin-left:auto;
margin-right:auto;
overflow:hidden;
}

#gallerywrap {
width:90%;

display:block;
position:relative;
/*  border: 1px solid red;*/
margin-left:auto;
margin-right:auto;
overflow:hidden;
}



#row {
display:block;
position:relative;
width:23%;
float:left;
margin:1%;
}
#services_image {
display:block;
position:relative;
width:80%;
margin-right:auto;
margin-left:auto;
}

#row2 {
display:block;
position:relative;
width:50%;
float:left;
}

.work_image {
width:100%;
padding:1.7%;

}

.hamburger {
display:none;
}

/*ipad*/




@media (max-width: 1700px) {
#hero_background {
position: relative;
height: 700px;
background: url('hero2.jpg');
background-position: 50% 50%;
background-size: cover;
text-align: center;
overflow:hidden;
/*  border: 1px solid;*/
}

.logo {
position:relative;
width: 800px;
display: block;
margin-left: auto;
margin-right: auto;
}
#wrapper__logo {
position: relative;
width: 100%;
top:120px;
margin-left: auto;
margin-right: auto;
/*    border: 1px solid;*/
}
.mike {
height:500px;
}


}

@media (max-width: 1200px) {
  
#menu {
display:none;
position:fixed;
top:0;
width:100%;
background-color:#272626;
z-index:5000;
position:relative;

text-align:center;
font-family: 'Raleway', sans-serif;
font-weight:bold;
font-size:25px;
margin-top:50px;
line-height:40px;

}
  
#nav {
display:none;
}
#contact_info {
position:absolute;
right:0;
color: #ADAAAA;
font-family: 'Raleway', sans-serif;
font-size:100%;
font-weight:normal;
display:block;
}

h3 {
text-align:center;
}

h4 {
text-align:center;
}

h5 {
text-align:center;
}

h6 {
text-align:center;
}
.header_logo {
display:none;
}
  
.hamburger {
position:absolute;
top:15%;
left:5%;
display:block;
width:50px;
}
  

#wrapper__logo {
position: relative;
width: 100%;
top:140px;
margin-left: auto;
margin-right: auto;
/*    border: 1px solid;*/
}

.logo {
position:relative;
width: 600px;
display: block;
margin-left: auto;
margin-right: auto;
}
  
.work {
position:absolute;
display:block;
bottom:0;
width:100%;
background-color:#252424;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:150%;
padding:2%;
color:lightgray;
opacity: 0.5;
filter: alpha(opacity=50);
}
  
#hero_background {
position: relative;
height: 600px;
background: url('hero2.jpg');
background-position: 50% 50%;
background-size: cover;
text-align: center;
overflow:hidden;
/*  border: 1px solid;*/
}
  
#arrow {
position: relative;
display:none;
}
  
.phone {
display:none;
}

.meet_mike {
position:absolute;
bottom:0px;
left:0px;
width: 300px;
height:80px;
border: 2px solid white;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:16px;
color:white;
background:#252424;
}

.meet_mike:first-line {
  
font-size:40px;
color:white;
}

.form {
width:100%;
height:40px;
font-family: 'Raleway', sans-serif;
font-weight:normal;
color:gray;
font-size: 15px;
background-color:white;
outline:0;
border:none;
float:right;
/*  border-radius: 5px;*/
padding:10px;
}

#form {
padding:2%;
position:relative;
display:block;
color:white;
margin-left: auto;
margin-right: auto;
width:60%;
visibility:visible;
/*  border:1px solid;*/
}

.submit {
font-size:20px;
}
#box {
display: none;
position:relative;
  
/*  height:50px;*/
width:100%;
background-color:#A84C24;
color:white;
text-align:center;
font-family: 'Raleway', sans-serif;
font-weight:normal;
font-size:25px;
padding:5px;
z-index:1000;
}

#icon_wrapper {
position: relative;
display:block;
width:44%;
float:left;

/*  border: 1px solid;*/
}





#parent_container {
position: relative;
width:70%;
display: block;
margin-left: auto;
margin-right: auto;
border-bottom:1px dashed;
  
}


#wrench {
position: relative;
display:block;
width:40%;
margin-left: auto;
margin-right: auto;
max-width:230px;
min-width:160px;
/*  border: 1px solid;*/
}

#contract {
position: relative;
display:block;
width:40%;
margin-left: auto;
margin-right: auto;
max-width:230px;
min-width:160px;
/*  border: 1px solid;*/
}

#house {
position: relative;
display:block;
width:40%;
margin-left: auto;
margin-right: auto;
max-width:230px;
min-width:160px;
/*  border: 1px solid;*/
}

#hammer {
position: relative;
display:block;
width:40%;
margin-left: auto;
margin-right: auto;
max-width:230px;
min-width:160px;
/*  border: 1px solid;*/
}

#remodel_text {
position: relative;
display:block;
width:100%;
/*border: 1px solid;*/
float:none;
text-align:left;
margin-top:20px;
}
#remodel_text2 {
position: relative;
display:block;
width:100%;
/*border: 1px solid;*/
float:none;
text-align:left;
margin-top:20px;
}



#services {
width:100%;
/*  border:1px solid;*/
margin-left:30px;
}
  
  
  
}




@media (max-width: 800px) {
  
#row {
display:block;
position:relative;
width:48%;
float:left;
}
#row2 {
display:block;
position:relative;
width:100%;
float:none;
}
  
#menu {
display:none;
position:fixed;
top:0;
width:100%;
background-color:#272626;
z-index:5000;
position:relative;

text-align:center;
font-family: 'Raleway', sans-serif;
font-weight:bold;
font-size:25px;
margin-top:20px;
line-height:40px;

}
  

#box2 {
display:none;
}

h3 {
font-size: 17px;
text-align:center;
}

h4 {
text-align:center;
font-size: 25px;
}

h5 {
text-align:center;
font-size: 17px;
}

h6 {
text-align:center;
font-size: 25px;
}
  
#header {
display:block;
height:50px;
}
  
#contact_info {
display:none;
}
  
#wrapper__logo {
position: relative;
width: 100%;
top:15%;
margin-left: auto;
margin-right: auto;
/*    border: 1px solid;*/
}
  
  
.phone {
display:block;
text-align:center;
margin-top:5px;
font-family: 'Raleway', sans-serif;
font-size:20px;
color:white;
}
  
.logo {
position:relative;
width: 80%;
display: block;
margin-left: auto;
margin-right: auto;
}
  
#hero_background {
width:100%;
position: relative;
height: 400px;
background: url('hero2.jpg');
background-position: 50% 50%;
background-size: cover;
text-align: center;
overflow:hidden;
/*  border: 1px solid;*/
}
  
.work {
position:absolute;
display:block;
bottom:0;
width:100%;
background-color:#252424;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:75%;
padding:2%;
color:lightgray;
opacity: 0.5;
filter: alpha(opacity=50);
}

#arrow {
    
display:none;
}
  
#hero_container {
position:relative;
width:100%;
/*  border: 1px solid;*/
} 
  
.meet_mike {
position:absolute;
top:0;
padding:1%;
width: 100%;
height:50px;
border: none;
text-align:center;
font-family: 'Raleway', sans-serif;
font-size:12px;
color:white;
background:#252424;
}

.meet_mike:first-line {
  
font-size:20px;
color:white;
}
  

.hamburger {
position:absolute;
top:15%;
left:5%;
display:block;
width:40px;
}



#form {
padding:2%;
position:relative;
display:block;
color:white;
margin-left: auto;
margin-right: auto;
width:90%;
visibility:visible;
/*  border:1px solid;*/
}


#box {
display: none;
position:relative;
  
/*  height:50px;*/
width:100%;
background-color:#A84C24;
color:white;
text-align:center;
font-family: 'Raleway', sans-serif;
font-weight:normal;
font-size:25px;
padding:5px;
z-index:1000;
}

  

}

@media (max-width: 600px) {
.logo {
position:relative;
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}


#icon_wrapper {
position: relative;
display:block;
width:100%;
float:none;

/*  border: 1px solid;*/
}

#services {
margin-left:0;
}

#row {
display:block;
position:relative;
width:99%;
float:left;
}

}

@media (max-width: 500px) {
  
a.kpc {
  
font-size:12px;
}

.mike {
width:100%;
display:block;
position:relative;

background: url("/mike.jpg") no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position:70% 40%;
opacity: 0.95;
filter: alpha(opacity=95);
}
#wrapper__logo {
position: relative;
width: 100%;
top:25%;
margin-left: auto;
margin-right: auto;
/*    border: 1px solid;*/
}

.logo {
position:relative;
width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
}


