html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

/*header*/
#header {
  display: none;
  padding:1%;
  background-color: none;
  height:120px;
  width: 100%;
  z-index:1000;
  position: fixed;
  top:0;
}

/*hero*/
/*main_logo*/

#hero_container {
  position:relative;
  width:100%;
} 

#hero_background {
  position: relative;
  height: 600px;
  background: url('hero.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
}
#wrapper__logo {
  position: relative;
  width: 100%;
  padding-top:100px;
}


.logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#arrow {
  position: absolute;
  bottom:-30px;
  left:44%;
  content: url('arrow.svg');
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

/*part 2*/

#part2 {
  position: relative;
  display:block;
  margin-top:50px;
  width:100%;
}
#icons_container {
  position: relative;
  width:80%;
  margin-left: 13%;
  margin-right: auto;
  
}


#hammer {
  position: relative;
  display:block;
  content: url('hammer.svg');
  width:20%;
  max-width:200px;
  margin:20px;
  float:left;
  
}
  

#box {
  display: none;
  position:fixed;
  bottom:0;
  right:0;
  height:50px;
  width:200px;
  background-color:black;
}




/*main_logo*/

/*blades animation*/
.blades {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 200px 100px;
  transform-origin: 50% 50%;
  transition: transform 2s ease-out;
}

.blade_trans:hover .blades {
  -webkit-transform:rotate(-180deg);
  -moz-transform:none;
  /*transform:rotate(-180deg);*/
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform:rotate(360deg);
  }
  60% {
    -webkit-transform:rotate(-20deg);
  }

}
@-moz-keyframes rotate {
  0% {
    -moz-transform:none;
  }
  60% {
    -moz-transform:none;
  }
}

}
@keyframes rotate {
0% {
  transform:rotate(360deg);
}
60% {
  transform:rotate(-20deg);
}
}

.grow {
-webkit-animation: rotate 5s ease-out backwards;
-moz-animation: rotate 5s ease-out backwards;
animation: rotate 5s ease-out backwards;
}
/*blades animation*/