html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

/*header*/
#header {
  display: block;
  padding:1%;
  background-color: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  height:50px;
  width: 100%;
  z-index:1000;
  position: fixed;
  top:0;
}

#contact_info {
  position:absolute;
  top:15px;
  right:10px;
  color:white;
  font-family: 'Raleway', sans-serif;
}
.header_logo {
  position:absolute;
  top:-10px;
  left:10px;
}

/*hero*/
/*main_logo*/

#hero_container {
  position:relative;
  width:100%;
} 

#hero_background {
  position: relative;
  height: 650px;
  background: url('hero.jpg');
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  overflow:hidden;
}
#wrapper__logo {
  position: relative;
  width: 100%;
  padding-top:100px;
}


.logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#arrow {
  position: absolute;
  bottom:-30px;
  left:44%;
  content: url('arrow.svg');
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

/*part 2*/

#part2 {
  position: relative;
  display:block;
  margin-top:50px;
  width:100%;
}
#icons_container {
  position: relative;
  visibility:hidden;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  color:#272626;
  
}

#icon_wrapper {
  position: relative;
  display:block;
  width:25%;
  float:left;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  font-size: 30px;
  color:#272626;
  
}




#hammer {
  position: relative;
  content: url('hammer.svg');
  width:100%;
  max-width:200px;
  margin:20px;
}
  

#box {
  display: none;
  position:fixed;
  bottom:0;
  right:0;
  height:50px;
  width:200px;
  background-color:black;
}




/*main_logo*/

/*blades animation*/
.blades {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 200px 100px;
  transform-origin: 50% 50%;
  transition: transform 2s ease-out;
}

.blade_trans:hover .blades {
  -webkit-transform:rotate(-180deg);
  -moz-transform:none;
  /*transform:rotate(-180deg);*/
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform:rotate(360deg);
  }
  60% {
    -webkit-transform:rotate(-20deg);
  }

}
@-moz-keyframes rotate {
  0% {
    -moz-transform:none;
  }
  60% {
    -moz-transform:none;
  }
}

}
@keyframes rotate {
0% {
  transform:rotate(360deg);
}
60% {
  transform:rotate(-20deg);
}
}

.grow {
-webkit-animation: rotate 5s ease-out backwards;
-moz-animation: rotate 5s ease-out backwards;
animation: rotate 5s ease-out backwards;
}
/*blades animation*/