html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

/*header*/
#header {
  display: none;
  padding:1%;
  background-color: #272626;
  height:120px;
  width: 100%;
  z-index:1000;
  position: fixed;
  top:0;
}

#header__logo {
  content:url("logo.svg");
  width:40px;
}
/*header*/

#box {
  display: none;
  position:fixed;
  bottom:0;
  right:0;
  height:50px;
  width:200px;
  background-color:black;
}

/*main_logo*/
#wrapper__logo {
  width: 100%;
  margin-top:100px;
}


.logo {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*main_logo*/

/*blades animation*/
.blades {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: transform 2s ease-out;
}

.blade_trans:hover .blades {
-webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
transform:rotate(-180deg);
}

@-webkit-keyframes rotate {
0% {
  -webkit-transform:rotate(360deg);
}
60% {
  -webkit-transform:rotate(-20deg);
}

}
@-moz-keyframes rotate {
0% {
  -moz-transform:rotate(360deg);
}
60% {
  -moz-transform:rotate(-20deg);
}
}

}
@keyframes rotate {
0% {
  transform:rotate(360deg);
}
60% {
  transform:rotate(-20deg);
}
}

.grow {
-webkit-animation: rotate 5s ease-out backwards;
-moz-animation: rotate 5s ease-out backwards;
animation: rotate 5s ease-out backwards;
}
/*blades animation*/